<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP App | Login Page</title>
</head>
<body>
    <h1>NLP Page</h1>

    <h3>Register Here</h3>

    <form action="">
        <label>Name</label>
        <br>
        <input type="text">
        <br>
        <label>Email</label>
        <br>
        <input type="email">
        <br>
        <label>Password</label>
        <br>
        <input type="password">
        <br>
        <br>
        <input type="submit" value="Register">


        <p>Already a Member? <a href="/">Login Here</a></p>

    </form>
</body>
</html>